PORT=7083

URL_RABBITMQ="amqp://user:password@host:5672"

URL_ADK_SESSIONS="postgresql+asyncpg://user:password@host:5432/operation"

URL_PGVECTOR="postgresql+psycopg://user:password@host:5432/fluxe?sslmode=disable"

AGENT_API_BASE_URL="http://localhost:7073"
INTERNAL_API_KEY=

OPENAI_API_KEY=
GOOGLE_API_KEY=
GOOGLE_ADK_MODEL=gemini-flash-latest
GOOGLE_ADK_APP_NAME=generic

SEAWEEDFS_S3_ENDPOINT=
SEAWEEDFS_S3_ACCESS_KEY=
SEAWEEDFS_S3_SECRET_KEY=
SEAWEEDFS_S3_BUCKET=
SEAWEEDFS_S3_REGION=us-east-1
